<h2>{{ localText[local].prevReports }}</h2>
<div *ngIf="crashes.length">
  <div *ngFor="let crash of crashes">
    <p> {{ crash }}</p>
  </div>
</div>
<div *ngIf="!crashes.length">
  <p>{{ localText[local].noCrash }} {{ getUserName() }}</p>
</div>
<button (click)="sendCrashReport()">
  {{ localText[local].sendCrash }}
</button>
<h1></h1>

<div *ngIf="crashReportSentMessage">
  <span class="report-sent-message">{{ crashReportSentMessage }}</span>
</div>

<app-profile-user *ngIf="!isAdmin()">

</app-profile-user>
<app-profile-admin *ngIf="isAdmin()">

</app-profile-admin>
