<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <span><a routerLink='/homepage' routerLinkActive=true>{{ localText[local].root }}</a></span>
      <span class="example-fill-remaining-space"></span>


      <div *ngIf="!authService.isLogged()">
        <a routerLink='/profile'>
          {{ localText[local].login }}
        </a>
      </div>
      <div *ngIf="authService.isLogged()">
        <button (click)="logout()"> {{ localText[local].logout }} </button>
        {{ localText[local].loggedIn }} <a routerLink='/profile'> {{ getUsername() }}</a>
      </div>
      <img class="btn" src="{{ imgSrc }}" (click)="changeLocal()" width=32 height=32>
    </mat-toolbar>
    <ng-component></ng-component>
  </mat-sidenav-content>
</mat-sidenav-container>
