<div class="col-md-6" style="margin: auto;">
  <h2 class="text-center">Add User</h2>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="latitude">Latitude:</label>
      <input formControlName="latitude" placeholder="Latitude" name="latitude" class="form-control" id="latitude">
    </div>

    <div class="form-group">
      <label for="longitude">Longitude:</label>
      <input formControlName="longitude" placeholder="Longitude" name="longitude" class="form-control" id="longitude">
    </div>

    <div class="form-group">
      <label for="status">Status:</label>
      <select formControlName="status" placeholder="Status" name="status" class="form-control" id="status">
        <option selected="selected">ok</option>
        <option>fail</option>
      </select>

    </div>

    <button class="btn btn-success">Add</button>
  </form>
</div>
