<div class="col-md-6">
  <h2 class="text-center">Edit Drone</h2>
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="id">Id:</label>
      <input formControlName="id" placeholder="Id" name="id" class="form-control" id="id" >
    </div>

    <div class="form-group">
      <label for="latitude">Latitude:</label>
      <input formControlName="latitude" placeholder="Latitude" name="latitude" class="form-control" id="latitude">
    </div>

    <div class="form-group">
      <label for="longitude">Longitude:</label>
      <input formControlName="longitude" placeholder="Longitude" name="longitude" class="form-control" id="longitude">
    </div>

    <div class="form-group">
      <label for="status">Status:</label>
      <select formControlName="status" placeholder="Status" name="status" class="form-control" id="status">
        <option selected="selected">ok</option>
        <option>fail</option>
      </select>

    </div>

    <button class="btn btn-success">Save changes</button>
  </form>
</div>
